.bloc-tabs {
  display: flex;
}
.tabs {
  padding: 15px;
  text-align: center;
  width: 50%;
  background: rgba(128, 128, 128, 0.075);
  cursor: pointer;
  border-bottom: 1px solid rgba(0, 0, 0, 0.274);
  box-sizing: content-box;
  position: relative;
  outline: none;
}
.tabs:not(:last-child) {
  border-right: 1px solid rgba(0, 0, 0, 0.274);
}

.tabBtn {
  padding: 1rem;
  background-color: whitesmoke;
  outline: none;
  border: 0px transparent;
  font-weight: 600;
  font-size: larger;
  cursor: pointer;
}

.tabBtn-true {
  color: red;
}
