table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 90%;
  margin: auto;
}

td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 0.05rem;
  text-align: center;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

.pagination {
  margin: 2rem;
}

.paginationBtn {
  background-color: antiquewhite;
  padding: 0.25rem;
  margin: 1rem;
}
